<div>
    <!-- Header Section -->
    <div class="bg-[url(/assets/images/inner-page-hero-bg.png)] bg-cover bg-bottom bg-no-repeat pt-[82px] lg:pt-[106px] flex items-center justify-center">
        <div class="relative">
            <div class="container">
                <div class="items-center justify-between py-10 md:flex md:h-[300px] md:py-0">
                    <div class="heading relative mb-0 text-center ltr:md:text-center ">
                        <h6>Connexion</h6>
                        <h4 class="!text-white">Accédez à votre <span class="text-primary">compte</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Form Section -->
<div class="container py-20 md:py-24">
    <div class="max-w-[400px] mx-auto text-center">
        <div class="flex justify-center items-center mb-2 mt-[-75px]">
        <img src="/assets/images/restaurent/logo.png" class="w-[80px] h-[110px]"/>
        </div>
        <h2 class="text-2xl font-semibold text-gray-900 text-black">Se Connecter</h2>
        <p class="text-gray-500 mb-6">
            ou <a href="#" class="text-primary font-medium">Créer un compte</a>
        </p>

        <form (ngSubmit)="submitForm()">
            <div class="mb-6 relative">
                <span class="absolute left-4 top-3 text-gray-400">
                    📞
                </span>
                <input 
                    type="text" 
                    [(ngModel)]="credentials.phone"
                    name="phone"
                    placeholder="123456789"
                    class="w-full pl-12 pr-4 py-3 rounded-lg border border-gray-300 focus:border-orange-500 focus:ring-1 focus:ring-orange-500"
                    required
                >
            </div>

            <div class="mb-8 relative">
                <span class="absolute left-4 top-3 text-gray-400">
                    🔒
                </span>
                <input 
                    type="password" 
                    [(ngModel)]="credentials.password"
                    name="password"
                    placeholder="••••••••"
                    class="w-full pl-12 pr-4 py-3 rounded-lg border border-gray-300 focus:border-orange-500 focus:ring-1 focus:ring-orange-500"
                    required
                >
            </div>

            <button 
                type="submit"
                class="w-full py-3 text-white font-semibold rounded-lg bg-gradient-to-r from-[#E9BD01] to-[#201D0E] hover:opacity-90 transition"
            >
                CONTINUE
            </button>

           
        </form>
    </div>
</div>

</div>